.Home_Body_texts_and_buttons_box {
  margin-top: 80px;
  margin-left: 100px;
  display: flex;
}

.heading_main_text h1 {
  font-size: 36px;
  font-weight: 500;
  color: white;
}
.heading_main_text p {
  margin-top: 20px;
  color: white;
}

.gradient-button {
  background: linear-gradient(
    135deg,
    rgb(253, 144, 160) 0%,
    rgba(173, 216, 230, 1) 35%,
    rgba(152, 251, 152, 1) 70%,
    rgba(255, 239, 150, 1) 100%
  );
  color: rgb(89, 1, 156);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 20px rgba(255, 182, 193, 0.1),
    0px 5px 30px rgba(173, 216, 230, 0.2), 0px 5px 40px rgba(152, 251, 152, 0.3),
    0px 5px 50px rgba(255, 239, 150, 0.4);
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  font-weight: bold;
}

.gradient-button:hover {
  box-shadow: 0px 8px 25px rgba(255, 182, 193, 0.2),
    0px 8px 35px rgba(173, 216, 230, 0.3), 0px 8px 45px rgba(152, 251, 152, 0.4),
    0px 8px 55px rgba(255, 239, 150, 0.5);
  transform: translateY(-3px);
}

.gradient-button::before {
  content: "";
  position: absolute;
  top: -150%;
  left: -150%;
  width: 400%;
  height: 400%;
  background: radial-gradient(
    circle,
    rgba(255, 182, 193, 0.4),
    transparent 60%
  );
  animation: colorPulse 3s infinite linear;
}

@keyframes colorPulse {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-20%, -20%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin-left: 720px;
  margin-top: 80px;
  margin-right: 20px;
}
.social-icons a {
  margin-top: 20px;
  color: white;
  background-color: transparent;
  border-radius: 100%;
}
.social-icons a:hover {
  box-shadow: 0px 4px 5px rgba(247, 247, 247, 0.5);
}

@media (max-width: 480px){
  .Home_Body_texts_and_buttons_box {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
  }
  .heading_main_text {
    max-width: 800px;
  }
  .heading_main_text h1 {
    font-size: 8vw;
    font-weight: 500;
    color: white;
  }

  .heading_main_text p {
    margin-top: 5px;
    color: white;
    font-size: 5vw;
  }

  .social-icons {
    display: none;
    
  }

  .gradient-button{
    font-size: 4vw;
    padding: 6px 12px;
    margin-left: 30%;
  }
}
